Host rsync.net
   HostName de3454.rsync.net
   User de3454
   ##IdentityFile ~/.ssh/id_ed25519_rsync_net
   IdentityFile ~/.ssh/id_ed25519_rsync2

Host de3454.rsync.net
   HostName de3454.rsync.net
   User de3454
   ##IdentityFile ~/.ssh/id_ed25519_rsync_net
   IdentityFile ~/.ssh/id_ed25519_rsync2

Host tango.from-ma.com 
  User tom
  Port 23911
  IdentityFile ~/.ssh/id_ed25519_mcgonagletom_mac_com

Host rancher.kravzt.com
  User tom
  IdentityFile ~/.ssh/id_ed25519_suse

Host github.com
  IdentityFile ~/.ssh/id_rsa_github

Host *.ghe-test.org
  IdentityFile ~/.ssh/id_rsa_github

Host mike
  HostName mike.local
  User tom
  IdentityFile ~/.ssh/id_ed25519_mcgonagletom_mac_com

Host mike.local
  HostName mike.mynetworksettings.com
  User tom
  IdentityFile ~/.ssh/id_ed25519_mcgonagletom_mac_com

Host sierra
  HostName sierra.local
  User tom
  IdentityFile ~/.ssh/id_ed25519_suse

Host sierra.local
  HostName 192.168.1.201
  User tom
  IdentityFile ~/.ssh/id_ed25519_suse

Host delta
  HostName delta.local
  User tom
  IdentityFile ~/.ssh/id_ed25519_delta
  PubkeyAuthentication no

Host delta
  HostName delta.mynetworksettings.com
  User tom
  IdentityFile ~/.ssh/id_ed25519_delta
  PubkeyAuthentication no

Host gitlab.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa_gitlab

Host git.src.ht
  IdentityFile ~/.ssh/id_ed25519_sourcehut


#Host *
# IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
# PubkeyAuthentication=no

